<!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="style_global.css">
        <link rel="stylesheet" href="ConsultasROPV.css">

        <script src="https://cdn.jsdelivr.net/npm/vue@3.2.47/dist/vue.global.prod.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@3.3.7/dist/vuetify.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.3.7/dist/vuetify.min.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.3/xlsx.full.min.js"></script>

        <title>Consultas PGE</title>
    </head>

    <body>
        <header>
            <div style="display: flex; align-items: center; gap: 10px">
                <img src="./imagens/PGE_logo.png" alt="Logo do site" style="width: 11pc; height: auto;">
                <h2>Portal de Consultas da <span>Procuradoria Geral do Estado</span></h2>
            </div>

            <ul class="nav-links">
                <li><a href="PáginaInicial.html">Página Inicial</a></li>
                <li><a href="https://www.pge.ms.gov.br/" target="_blank">PGE Intranet</a></li>
                <li><a href="PPREC.html">PPREC</a></li>
                <li><a href="Contatos.html">Contatos</a></li>
            </ul>
        </header>

        <div class="content">
            <h1>Consultar Precatórios</h1>

            <div id="app">
                <v-container>
                    <v-row class="filtros">
                        <v-row class="filtros">
                            <v-col cols="12">
                                <v-select v-model="selectedAssuntos" :items="options.Assuntos" multiple label="Assuntos" clearable></v-select>
                            </v-col>
                            <v-col cols="12">
                                <v-select v-model="selectedCategoria" :items="options.Categoria" multiple label="Categoria" clearable></v-select>
                            </v-col>
                            <v-col cols="12">
                                <v-select v-model="selectedComarca" :items="options.Comarca" multiple label="Comarca" clearable></v-select>
                            </v-col>
                            <v-col cols="12">
                                <v-select v-model="selectedDevedor" :items="options.Devedor" multiple label="Devedor" clearable></v-select>
                            </v-col>
                            <v-col cols="12">
                                <v-select v-model="selectedTribunal" :items="options.Tribunal" multiple label="Tribunal" clearable></v-select>
                            </v-col>
                            <v-col cols="12">
                                <v-select v-model="selectedAno" :items="options.Ano" multiple label="Ano" clearable></v-select>
                            </v-col>
                        </v-row>
                    </v-row>

                    <v-btn @click="filterData">Consultar</v-btn>

                    <v-table>
                        <thead>
                            <tr>
                                <th>Assuntos</th>
                                <th>Categoria</th>
                                <th>Comarca</th>
                                <th>Devedor</th>
                                <th>Tribunal</th>
                                <th>Ano</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td v-for="(filter, key) in displayedFilters" :key="key">{{ filter }}</td>
                                <td></td>
                            </tr>
                            <tr v-for="(row, index) in filteredData" :key="index">
                                <td>{{ row.Assuntos }}</td>
                                <td>{{ row.Categoria }}</td>
                                <td>{{ row.Comarca }}</td>
                                <td>{{ row.Devedor }}</td>
                                <td>{{ row.Tribunal }}</td>
                                <td>{{ row.Ano }}</td>
                                <td>{{ formatCurrency(row.Total) }}</td>
                            </tr>
                        </tbody>
                    </v-table>

                    <h2 id="res" v-if="consultaRealizada">
                        Quantidade: {{ formattedFilteredCount}} | Total: {{ formatCurrency(calculateTotal) }} 
                    </h2>
                </v-container>
            </div>
        </div>

        <footer>
            <div class="footer-bar">
                <div class="left">
                    Parque dos Poderes - Bloco IV
                    <span>www.pge.gov.br</span>
                </div>
                <span class="divider">|</span>
                <div>Campo Grande - MS</div>
                <span class="divider">|</span>
                <div>CEP: 79031-310</div>
            </div>
        </footer>

        <script src="script_PPREC.js"></script>
    </body>
    </html>